:root {
    --base-bg-color: rgb(18,18,19);
    --text-color: white;
    --border-color: rgba(58,58,60, 1);
    --key-color: rgb(129,131,132,1);
}

* {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    color: var(--text-color);
    user-select: none;
}

html {
    height: 100vh;
}

body {
    height: 100%;
    background-color: var(--base-bg-color);
    margin: 0;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header {
    border-bottom: 0.05em solid rgb(58,58,60);
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.title {
    font-size: 2rem;
    width: 30%;
    text-align: center;
}

.settings {
    width: 30%;
    align-self: center;
    display: flex;
    justify-content: center;
}

.settings > * {
    height: fit-content;
    width: fit-content;
    padding: 0.2rem;
    border: 1px solid var(--border-color);
    vertical-align: center;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.settings > *:hover {
    background-color: var(--border-color);
   }

.countdown {
    text-align: center;
    align-self: end;
    width: 30%;
}

.raster {
    width: 300px;
    height: fit-content;
    display: flex;
    margin: 5em auto;
    flex-direction: column;
    justify-content: center;
}

.raster-row {
    display: flex;
    justify-content: center;
    height: fit-content;
}

.square {
    border: 0.1em solid var(--key-color);
    width: 60px;
    height: 60px;
    padding: 1em;
    margin: 0.2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    border: 0.15em solid var(--key-color);
    transform: scale(1.1);
}

.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}

.keyboard-row {
    display: flex;
}

.key {
    margin: 0.2em;
    padding: 0.5em 0.75em;
    background-color: var(--key-color);
    border-radius: 3px;
    font-size: 1.4em;
}

.key:hover {
    transform: scale(1.1);
}

.gray {
    background-color: rgb(58,58,60);
}

.green {
    background-color: #3A7734;
}

.orange {
    background-color: orange;
}

.difficulty-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.difficulty {
    border: 1px solid var(--border-color);
    padding: 1rem;
    margin: 0.5rem 0.5rem 5rem 0.5rem;
}

.difficulty:hover {
    background-color: var(--border-color) ;
}


.gameOver {
    z-index: 10;
    height: fit-content;
    width: 50%;
    margin: 0 auto;
    background-color: var(--border-color);
    position: absolute;
    top: 25%;
    text-align: center;
}