:root {
  --base-bg-color: rgb(18, 18, 19);
  --base-bg-gradient: rgb(18,18,19, 0.2);
  --text-color: white;
  --border-color: rgba(58, 58, 60, 1);
  --key-color: rgb(129, 131, 132, 1);
  --square-gray: rgb(58, 58, 60);
  --sqaure-orange: rgb(255,165,0);
  --sqaure-green : rgb(58,119,53)
}

* {
  box-sizing: border-box;
  font-family: monospace;
  color: var(--text-color);
  user-select: none;
}

html {
  height: 100vh;
  width: 100vw;
}

body {
  height: 100%;
  width: 100%;
  background: linear-gradient(var(--base-bg-color), var(--base-bg-gradient));
  margin: 0;

}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
  -webkit-user-drag: none;
  touch-action: none;
}

.header {
  border-bottom: 0.05em solid rgb(58, 58, 60);
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .info {
    position: absolute;
    top: 10%;
    right: 0;
    height: 90%;
    @media only screen and (max-width: 768px){
      width: 100%;
    }
    @media only screen and (min-width: 769px){
      width: 45%;
    }
    z-index: 100;
    overflow-x: hidden;
    transform: translateX(95%);
    transition: all 0.3s ease-in-out;

    .info-content-container {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      flex-grow: 1;

      .expand-btn {
        width: 5%;
        height: 100%;
        display: flex;
        align-items: center;
        text-align: center;

        span {
          background-color: var(--base-bg-color);
          border-radius: 3px 0 0 3px;
          padding: 10% 5%;
          width: 100%;
          font-size: 100%;
          cursor: pointer;
        }
      }

      .info-content {
        width: 95%;
        height: 100%;
        background-color: var(--base-bg-color);
        padding: 2%;
        overflow-y: scroll;

        &::-webkit-scrollbar {
          width: 5px;
        }

        &::-webkit-scrollbar-track {
          background: var(--base-bg-gradient);
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: var(--border-color);
          border-radius: 10px;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
          background: #555;
        }

        .introduction {
          border-bottom: 1px solid var(--border-color);
        }

        .examples {
          margin: 5% 0;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          min-height: fit-content;
          & > div {
            padding: 2% 0;
            .examples-row {
              display: flex;
              gap: 1%;
            }
          }
        }
      }
    }
  }
}

.underline {
  text-decoration: underline;
  font-size: 101%;
}


.hamburger {
  width: 10%;
  padding-left: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  .line {
    width: min(60%, 25px);
    border: 1px solid var(--text-color);
    margin: min(3px, 5%);
    transition: ease-in-out 0.25s;
  }
}

@media only screen and (min-width: 769px) {
  @keyframes openLeaderboard {
    0% {
      transform: translateX(-100%);
      opacity: 0
    }
    100% {
      transform: translateX(100%);
      opacity: 1;
      visibility: visible
    }
  }

  @keyframes closeLeaderboard {
    0% {
      transform: translateX(100%);
      opacity: 1;
      visibility: visible;
    }
    100% {
      transform: translateX(-100%);
      opacity: 0;
      visibility: hidden;
    }
  }
}

@media only screen and (max-width: 768px) {
  @keyframes openLeaderboard {
    0% {
      height: 0;
      opacity: 0;
      visibility: hidden;
    }
    100% {
      height: 60%;
      opacity: 1;
      visibility: visible;
    }
  }

  @keyframes closeLeaderboard {
    0% {
      height: 60%;
      opacity: 1;
      visibility: visible;
    }
    100% {
      height: 0;
      opacity: 0;
      visibility: hidden;
    }
  }
}



.leaderboard {

  @media only screen and (max-width: 768px) {
    width: 100%;
    top: 10%;
    left: 0;
  }

  @media only screen and (min-width: 769px) {
    height: 90%;
    left: -40%;
    top: 10%;
    width: 40%;

  }

  visibility: hidden;
  position: absolute;
  z-index: 101;
  overflow: hidden;
  background-color: var(--base-bg-color);

  &.hidden {
    animation: closeLeaderboard ease-in-out 0.25s forwards;
  }

  &.shown {
    animation: openLeaderboard ease-in-out 0.25s forwards;
  }

  .leaderboard-content {
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;
    //background-color: var(--border-color);

    > div {
      border: 1px solid var(--border-color);
      border-radius: 2px;
      margin: 1%;
      padding: 1%;
    }

    .leaderboard-content-scoreToday {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 20%;

      span {
        padding: 0.5%;
      }
      .scoreToday-title {
        width: 81%;
        display: block;
        margin: 0 auto;
        background-color: var(--key-color);
        border-radius: 2px;
        text-align: center;
        font-style: italic;
      }

      .scoreToday-score {
        display: block;
        margin: 0 auto;
        font-size: 150%;
        font-weight: bold;
      }
    }

    .leaderboard-content-statistics {
      height: 80%;
      .statistics-slider {
        position: relative;
        //border: 1px solid red;
        margin: 0 auto;
        height: 100%;
        display: flex;
        width: 100%;

        .btn-before {
          grid-area: back;
          display: flex;
          justify-content: start;
          align-items: center;
          cursor: pointer;
          width: 5%;
        }

        .btn-after {
          grid-area: forward;
          display: flex;
          justify-content: end;
          align-items: center;
          cursor: pointer;
          width: 5%;

          span {
            top: 50%;
          }
        }
        .statistics-slider-content {
          height: 100%;
          width: 100%;
          grid-area: stats;
          display: flex;
          flex-direction: row;
          overflow: hidden;

          &::-webkit-scrollbar {
            display: none;
          }

          .statsByDiff {
            height: 95%;
            width: 100%;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            flex-shrink: 0;
            padding: 5%;
            .title {
              font-size: 150%;
              width: 100%;
              font-weight: bold;
              background-color: var(--key-color);
              border-radius: 2px;
            }

            .statistics-content {
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              align-items: center;
              height: 100%;
              width: 100%;

              div {
                width: 100%;
                height: fit-content;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 90%;

                .metric, .value {
                  text-align: center;
                  height: 40%;
                  border-radius: 3px;
                  margin: 2px;
                }

                .metric {
                  background-color: var(--border-color);
                  width: 80%;
                  font-style: italic;
                }

                .value {
                  background-color: var(--square-gray);
                  width: 30%;
                }
              }
            }
          }
        }

        .statistics-slider-dots {
          text-align: center;
          width: 100%;
          position: absolute;

          @media only screen and (max-width: 768px) {
            bottom: 3px;
            height: 3%;

          }
          @media only screen and (min-width: 769px) {
            bottom: 5px;
            height: 5%;

          }

          display: flex;
          flex-direction: row;
          justify-content: center;

          .dot {
            padding: 1%;
            margin: 1%;
            width: 1px;
            height: 1px;
            border-radius: 50%;
            border: 1px solid var(--border-color);

            &.active {
              background-color: var(--text-color);
              transform: scale(1.5);
            }
          }
        }
      }
    }
  }
}
.user {
  width: 20%;
  max-height: 10%;
  position: absolute;
  left: 3.5%;
  top: 10%;

  .login-form {
    flex-direction: row;
    width: 100%;
    justify-content: start;
  }

  .notLoggedIn {
    align-items: center;

    input {
      font-size: 10px;
    }
  }
}

.title {
  font-size: 2rem;
  width: 30%;
  text-align: center;
}

.settings {
  width: 15%;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35%;
    aspect-ratio: 1/1;
    padding: 0.2%;
    margin: 5%;
    border: 1px solid var(--border-color);
    border-radius: 50%;

    span {
      font-size: 100%;

    }
  }
}

.settings > *:hover {
  background-color: var(--border-color);
}

.countdown {
  text-align: center;
  width: 30%;
}

.raster {
  width: 100%;
  max-height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 1%;
  margin: 1%;
}

.raster-row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  gap: 3px;
  width: 100%;
}

.square {
  border: 0.1em solid var(--key-color);
  width: min(10%, 50px);
  aspect-ratio: 1/1;
  //margin: 5% 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-size: 150%;
}

.active {
  border: 0.2em solid var(--key-color);
  //transform: scale(1.1);
}

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 1%;
  min-height: 25%;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 33%;
}

.key {
  margin: min(0.5%, 0.25rem);
  padding: 0 min(3%, 20px);
  background-color: var(--key-color);
  border-radius: 3px;
  font-size: 120%;
  max-width: 60px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.key:hover {
  transform: scale(1.1);
}

.gray {
  background-color: var(--square-gray);
  border: none;
}

.green {
  background-color: var(--sqaure-green);
  border: none;
}

.orange {
  background-color: var(--sqaure-orange);
  border: none;
}

.key-color {
  background-color: var(--key-color);
}

.difficulty-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  p {
    width: 100%;
    text-align: center;
  }


}

.difficulty {
  border: 1px solid var(--border-color);
  border-radius: 3px;
  padding: 1rem;
  margin: 0.5rem 0.5rem 5rem 0.5rem;
  max-width: calc(33% - 1rem);
}

.difficulty:hover {
  background-color: var(--border-color);
}

.gameOver {
  z-index: 10;
  height: fit-content;
  width: min(400px, 80%);
  font-size: 120%;
  margin: 0 auto;
  background-color: var(--border-color);
  position: absolute;
  top: 35%;
  text-align: center;
  padding: 1rem;
  border: 2px solid black;

  span {
    cursor: pointer;
  }

  .strong {
    cursor: auto;
    font-weight: bold;
    font-style: italic;
  }
}

.login-form {
  margin: 1%;
  padding-bottom: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10%;
  @media only screen and (max-width: 768px) {
    width: 100%;
  }
  @media only screen and (min-width: 769px) {
    width: 50%;
  }
}

.login-form-username, .login-form-password {
  position: relative;
  width: 35%;
  height: 50%;
  margin: 1%;
  background-color: var(--border-color);
  border-radius: 5px;


  input {
    width: 100%;
    height: 100%;
    color: var(--text-color);
    padding: 5%;
    border: none;
    border-radius: 5px;
    background: transparent;
    z-index: 1;



    &:-webkit-autofill {
      -webkit-text-fill-color: transparent!important;

        &:valid {
        }

    }

    &:focus, &:valid {
      border-bottom: 3px solid var(--sqaure-green);
      outline: none;
    }

    &:focus + label, &:valid + label {
      transform: translateX(-5%);
      transform: translateY(-100%);
      font-size: 70%;
      outline: none;
      border: none;
    }
  }

  label {
    position: absolute;
    left: 5%;


    @media only screen and (max-width: 768px){
      top: 25%;
    }

    @media only screen and (min-width: 769px){
      top: 30%;
    }
    color: var(--text-color);
    font-size: 100%;
    z-index: 0;
    transition: all 300ms ease-in;
    user-select: none;
  }
}
.loggedIn {
  width: 100%;
  justify-content: center;
  align-items: center!important;
  flex-wrap: wrap;
  margin-bottom: 5%;
}

.login-form-info {
  text-align: center;
  vertical-align: center;
  padding: 1%;
}

.login-form-submit {
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: start;
  padding-left: 13.1%;
  width: 100%;
  height: 60%;

  input, button {
    margin: 1%;
    color: var(--text-color);
    background-color: var(--key-color);
    padding: 0.5%;
    border-radius: 5px;
    border: none;
    cursor: pointer;

    span {
      margin: 0;
      font-size: 100%;
      display: block;
      padding: 10%;
    }

    &:hover {
      transition-delay: 100ms;
      background-color: var(--text-color);
      color: var(--key-color);
    }
  }

  span {
    margin-left: 1%;
    cursor: pointer;
    position: relative;
    display: block;
    width: fit-content;

    &:after {
      position: absolute;
      left: 0;
      content: '';
      bottom: -2px;
      width: 0;
      transition: all 0.2s ease-in;
    }

    &:hover {
      &:after {
        width: 100%;
        border: 1px solid var(--text-color);
      }
    }
  }
}



@keyframes invalidAnimation {
  0%   {transform: translateX(0);}
  25%  {transform: translateX(1rem);}
  50%  {transform: translateX(-1rem);}
  100% {transform: translateX(0);}
}

.invalid {
  animation: linear 0.1s invalidAnimation;
}

@for $i from 1 through 9 {
  .submitted div:nth-child(#{$i}n) {
    animation-delay: #{$i * 0.25}s;
  }
}

@keyframes submittedAnimation {
  0%   {transform: translateY(0);}
  25%  {transform: translateY(1rem);}
  50%  {transform: translateY(-1rem);}
  100% {transform: translateY(0);}
}

.submitted {
  div {
    animation: linear 0.5s submittedAnimation ;
  }

}


