:root {
  --base-bg-color: rgb(18, 18, 19);
  --text-color: white;
  --border-color: rgba(58, 58, 60, 1);
  --key-color: rgb(129, 131, 132, 1);
  --square-gray: rgb(58, 58, 60);
  --sqaure-orange: rgb(255,165,0);
  --sqaure-green : rgb(58,119,53)
}

* {
  box-sizing: border-box;
  font-family: monospace;
  color: var(--text-color);
  user-select: none;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  background-color: var(--base-bg-color);
  margin: 0;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header {
  border-bottom: 0.05em solid rgb(58, 58, 60);
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;

}


.hamburger {
  width: 2.5%;
  padding-left: 1rem;

  &:hover {
    cursor: pointer;
  }

  .line {
    width: 100%;
    border: 1px solid var(--text-color);
    margin: 0.5rem;
    transition: ease-in-out 0.25s;
  }
}

@keyframes openLeaderboard {
  0% {width: 0;
    opacity: 0}
  100% {width: 33%;
    opacity: 1}
}

@keyframes closeLeaderboard {
  0% {width: 33%;
    opacity: 1}
  100% {width: 0%;
    opacity: 0}
}

.leaderboard {
  height: 90%;
  border-right: 2px solid var(--border-color);
  position: absolute;
  left: 0;
  top: 10%;
  z-index: 20;
  overflow: hidden;

  &.hidden {
    animation: closeLeaderboard ease-in-out 0.25s forwards;
  }

  &.shown {
    animation: openLeaderboard ease-in-out 0.25s forwards;
  }

  .leaderboard-content {
    padding: 2rem;
  }
}
.user {
  width: 20%;

  .login-form {
    flex-direction: row;
    padding: 0;
  }

  .notLoggedIn {
    align-items: center;

    input {
      font-size: 10px;
    }
  }
}

.title {
  font-size: 2rem;
  width: 30%;
  text-align: center;
}

.settings {
  width: 10%;
  align-self: center;
  display: flex;
  justify-content: space-evenly;
}

.settings > * {
  height: fit-content;
  width: fit-content;
  padding: 0.2rem;
  border: 1px solid var(--border-color);
  vertical-align: center;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

.settings > *:hover {
  background-color: var(--border-color);
}

.countdown {
  text-align: center;
  width: 35%;
}

.raster {
  width: 300px;
  height: fit-content;
  display: flex;
  margin: 5em auto;
  flex-direction: column;
  justify-content: center;
}

.raster-row {
  display: flex;
  justify-content: center;
  height: fit-content;
}

.square {
  border: 0.1em solid var(--key-color);
  width: 60px;
  height: 60px;
  padding: 1em;
  margin: 0.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  border: 0.2em solid var(--key-color);
  transform: scale(1.1);
}

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}

.keyboard-row {
  display: flex;
}

.key {
  margin: 0.2em;
  padding: 0.5em 0.75em;
  background-color: var(--key-color);
  border-radius: 3px;
  font-size: 1.4em;
}

.key:hover {
  transform: scale(1.1);
}

.gray {
  background-color: var(--square-gray);
}

.green {
  background-color: var(--sqaure-green);
}

.orange {
  background-color: var(--sqaure-orange);
}

.difficulty-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.difficulty {
  border: 1px solid var(--border-color);
  padding: 1rem;
  margin: 0.5rem 0.5rem 5rem 0.5rem;
}

.difficulty:hover {
  background-color: var(--border-color);
}

.gameOver {
  z-index: 10;
  height: fit-content;
  width: fit-content;
  margin: 0 auto;
  background-color: var(--border-color);
  position: absolute;
  top: 35%;
  text-align: center;
  padding: 1rem;
  border: 2px solid black;

  span {
    cursor: pointer;
  }
}

.login-form {
  margin: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.login-form-username, .login-form-password {
  position: relative;
  width: 15rem;
  height: 3rem;
  margin: 1rem;
  background-color: var(--border-color);
  border-radius: 5px;


  input {
    width: 100%;
    height: 100%;
    color: var(--text-color);
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background: transparent;
    z-index: 1;



    &:-webkit-autofill {
      -webkit-text-fill-color: transparent!important;

        &:valid {
        }

    }

    &:focus, &:valid {
      border-bottom: 3px solid var(--sqaure-green);
      outline: none;
    }

    &:focus + label, &:valid + label {
      transform: translateX(-0.5rem);
      transform: translateY(-0.5rem);
      font-size: 0.75rem;
      outline: none;
      border: none;
    }
  }

  label {
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
    color: var(--text-color);
    font-size: 1.25rem;
    z-index: 0;
    transition: all 300ms ease-in;
  }
}
.loggedIn {
  width: 100%;
  align-items: center!important;
}

.login-form-info {
  text-align: center;
  padding: 1rem;
}

.login-form-submit {
  text-align: start;

  input, button {
    margin: 0 0 0 1rem;
    color: var(--text-color);
    background-color: var(--key-color);
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;

    span {
      margin: 0;
    }

    &:hover {
      transition-delay: 100ms;
      background-color: var(--text-color);
      color: var(--key-color);
    }
  }

  span {
    margin-left: 1rem;
    cursor: pointer;
    position: relative;

    &:after {
      position: absolute;
      left: 0;
      content: '';
      bottom: -2px;
      width: 0;
      transition: all 0.2s ease-in;
    }

    &:hover {
      &:after {
        width: 100%;
        border: 1px solid var(--text-color);
      }
    }
  }
}



@keyframes invalidAnimation {
  0%   {transform: translateX(0);}
  25%  {transform: translateX(1rem);}
  50%  {transform: translateX(-1rem);}
  100% {transform: translateX(0);}
}

.invalid {
  animation: linear 0.1s invalidAnimation;
}

@for $i from 1 through 9 {
  .submitted div:nth-child(#{$i}n) {
    animation-delay: #{$i * 0.25}s;
  }
}

@keyframes submittedAnimation {
  0%   {transform: translateY(0);}
  25%  {transform: translateY(1rem);}
  50%  {transform: translateY(-1rem);}
  100% {transform: translateY(0);}
}

.submitted {
  div {
    animation: linear 0.5s submittedAnimation ;
  }

}


